<div class="container-fluid">
  <%= render 'website/partials/announcements', phones: @phones %>
</div>

<div class="container-fluid billboard-wrapper">
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_header', current_organization: @current_organization, treatments: @treatments %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <hr class="attention-helper">
      <h4>About Us</h4>
      <p>
        Baja Smile Dentistry is just a 5 minute walk from the San Ysidro point of entry (to Mexico) in San Diego.
        We have been active members of the local business community over a variety of industries.
      </p>
      <p>
        Baja Smile Dentistry, has family ties deeply integrated in our daily operations.
        We proudly say that we are a family business founded in 2018 in Tijuana.
      </p>
      <p>
        Our goal is to create new smiles every day: “One Smile, One Family At A Time”.
        Our specialties include Orthodontics and Fixed Prosthesis.
      </p>
      <p>
        We have over 5 years of experience working with over 500+ patients from all over the United States,
        Canada and Mexico. We treat each customer with personalized care while mantaining high standard in our service.
      </p>
      <p>
        Our team of specialists in the areas of Prosthesis, Orthodontics and General Dentistry deeply
        understand your needs and take you by the hand towards building the perfect smile.
      </p>

    </div>
  </div>
</div>

<div class="container">
  <%= render 'website/partials/external_testimonials', external_testimonials: @external_testimonials %>
</div>

<%= render 'website/partials/schedule_now' %>

<%= render 'website/partials/primary_footer', phones: @phones, current_organization: @current_organization %>
