<%= render 'website/partials/secondary_header_genesis' %>
<div class='container wrapper-dashboard'>
  <div class='row processes'>
    <div class='col-12 quicklinks'>
      <h2 class='title'>
        Processes
      </h2>
      <h4 class='text'>
        Quicklinks
      </h4>
    </div>
  </div>
  <div class='row processes-map'>
    <div class='col-3'>
      <%= image_tag 'california.png', class:'map'%>
    </div>
    <div class='col-3'>
      <%= image_tag 'delaware.png', class:'map'%>
    </div>
    <div class='col-3'>
      <%= image_tag 'mexico.png', class:'map'%>
    </div>
    <div class='col-3'>
      <%= image_tag 'binational.png', class:'map'%>
    </div>
  </div>
  <div class='row processes-map'>
    <div class='col-3'>
      <a href='/step_1'>
      <h5 class='location text-center'>
        California Incorporation
      </h5>
      </a>
    </div>
    <div class='col-3'>
      <a href='/step_1'>
      <h5 class='location text-center'>
        Delaware Incorporation
      </h5>
      </a>
    </div>
    <div class='col-3'>
      <a href='/step_1'>
      <h5 class='location text-center'>
        Mexico Incorporation
      </h5>
      </a>
    </div>
    <div class='col-3'>
      <a href='/step_1'>
      <h5 class='location text-center'>
        Binational Incorporation
      </h5>
      </a>
    </div>
  </div>

  <div class='col-12 processes-in-process'>
    <h4 class='subtitle'>
      Processes in Process
    </h4>
    <%= render 'website/partials/incorporation_table' %>
  </div>
</div>
