<%= render 'website/partials/header_genesis_light' %>

<div class='container-fluid jumbotron'>
  <div class='container'>
    <h1 class='title text-center'>
      Incorporate And Consolidate Your Business
    </h1>
    <h1 class='title text-center'>
      In The US Without Leaving Your Office
    </h1>
    <button type="button" class="btn btn-primary">Get Started Now</button>
    <h6 class='explainer-text text-center'>
      Easily And Safely Build Your International Strategy
    </h6>
  </div>
</div>

<div class='container how-it-works'>
  <div class='col-12'>
    <h2 class='subtitle text-center'>
      How it works
    </h2>
    <h4 class='explainer text-center'>
      We have a team of lawyers waiting to help you setup the necessary foundations for international operations.
      Get in touch with us, and we'll offer you the right strategy.
      If needed, we'll get in touch with a specialist (corporate, taxes, intellectual property, immigration, and more )
      and deal with them so you can focus on running your business.
    </h4>
  </div>
</div>

<div class='container wrapper-services'>
  <div class='row'>
    <div class='col-8 services'>
      <h4 class='tile'>
        USA Incorporation
      </h4>
      <p class='explainer'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin risus. Praesent lectus. Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.
      </p>
      <div class='row'>
        <div class='col-5'>
          <p class='price'>
            Prices start from $999.00 USD
          </p>
        </div>
        <div class='col-3'>
          <p class='learn-more text-right'>
            <a href='/'>
              Learn More...
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class='col-4 images'>
      <%= image_tag 'usa-incorporation-small.png', class:'image'%>
    </div>
  </div>
  <div class='row'>
    <div class='col-4 images'>
      <%= image_tag 'usa-incorporation-small.png', class:'image'%>
    </div>
    <div class='col-8 services'>
      <h4 class='tile'>
        USA Incorporation
      </h4>
      <p class='explainer'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin risus. Praesent lectus. Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.
      </p>
      <div class='row'>
        <div class='col-5'>
          <p class='price'>
            Prices start from $999.00 USD
          </p>
        </div>
        <div class='col-3'>
          <p class='learn-more text-right'>
            <a href='/'>
              Learn More...
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-8 services'>
      <h4 class='tile'>
        USA Incorporation
      </h4>
      <p class='explainer'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin risus. Praesent lectus. Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.
      </p>
      <div class='row'>
        <div class='col-5'>
          <p class='price'>
            Prices start from $999.00 USD
          </p>
        </div>
        <div class='col-3'>
          <p class='learn-more text-right'>
            <a href='/'>
              Learn More...
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class='col-4 images'>
      <%= image_tag 'usa-incorporation-small.png', class:'image'%>
    </div>
  </div>
</div>

<div class='container-fluid wrapper-get-incorporated'>
  <div class='container get-incorporated'>
    <div class='row'>
      <div class='col-12'>
        <h3 class='explainer text-center'>
          "Delaware remains the chosen home of more than half of U.S.
          publicly-traded companies and 64% of the Fortune 500."
        </h3>
        <p class='text text-center'>
          Jeffrey W. Bullock, Delaware Secretary of State
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-3'>
        <%= image_tag '1-taxes.png', class:'image'%>
        <p class='texttext-center'>
          Corporate tax treatment separates you from your company
        </p>
      </div>
      <div class='col-3'>
        <%= image_tag '2-assets.png', class:'image'%>
        <p class='text text-center'>
          Your assets are protected when taking responsability from debt and corporate actions
        </p>
      </div>
      <div class='col-3'>
        <%= image_tag '3-accessibility.png', class:'image'%>
        <p class='text text-center'>
          Accessibility of raising funds through stock sales
        </p>
      </div>
      <div class='col-3'>
        <%= image_tag '4-attract.png', class:'image'%>
        <p class='text text-center'>
          Attract potential employees by providing them company ownership through stock options
        </p>
      </div>
      <button type="button" class="btn btn-primary">Get Incorporated Now</button>
    </div>
  </div>
</div>

<%= render 'website/partials/footer_genesis' %>
