<%= render 'website/partials/header_dashboard' %>
<div class='container'>
  <div class='row dashboard'>
    <div class='col-3 sidebar'>
      <%= render 'website/partials/dashboard_sidebar' %>
    </div>
    <div class='col-9 content'>
      <h2 class='subtitle'>
        Delaware Incorporation
      </h2>
      <h4 class='status'>
        Form is incomplete
      </h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">STEP 1</div>
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">STEP 2</div>
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">STEP 3</div>
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">STEP 4</div>
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">STEP 5</div>
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">STEP 6</div>
        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">STEP 7</div>
      </div>
      <%= render 'website/partials/instance_history' %>
      <%= render 'website/partials/instance_comments' %>
    </div>
  </div>
</div>
<%= render 'website/partials/footer_dashboard' %>
