<%= render 'website/partials/header_dashboard' %>
<div class='container'>
  <div class='row dashboard'>
    <div class='col-3 sidebar'>
      <%= render 'website/partials/dashboard_sidebar' %>
    </div>
    <div class='col-9 content'>
      <h2 class='subtitle'>
        Delaware Incorporation
      </h2>
      <h4 class='status'>
        Form is incomplete
      </h4>
      <h5 class='disclaimer'>
        Your application has been submitted but not yet accepted,
        we tipically review documents within a 24 hour period,
        if we take longer than this, please contact 01 800 123 1231
      </h5>
      <h4 class='timeline'>
        TIMELINE
      </h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <%= render 'website/partials/instance_details' %>
      <%= render 'website/partials/instance_payment_methods' %>
      <%= render 'website/partials/instance_payments' %>
      <%= render 'website/partials/instance_invoices' %>
      <%= render 'website/partials/instance_history' %>
      <%= render 'website/partials/instance_comments' %>
    </div>
  </div>
</div>
<%= render 'website/partials/footer_dashboard' %>
