<%= render 'website/partials/header_genesis_light' %>
<div class='container-fluid'>
  <div class='container'>
    <h1 class='title'>
      USA Incorporation
    </h1>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <div class='col-5'>
        <%= image_tag 'usa-incorporation.png', class:'image'%>
      </div>
      <div class='col-7'>
        <p class="text">
          If you are already have a running business in Mexico or Latin America and want to expand your
          business or need want to start a fresh company in the United States.
          We provide you with everything you’ll need to safely establish and broaden your company’s operations.
        </p>
        <ul>
          <li>
            Articles of incorporation
          </li>

          <li>
            EIN number
          </li>

          <li>
            Corporate package
          </li>

          <li>
            First Annual Statement of Information
          </li>

          <li>
            Payment of all government, register and inscription fees
          </li>

          <li>
            One month consultation (Email, Chat or Telephone)
          </li>

          <li>
            Shipping and handling costs
          </li>

          <li>
            Registered Agent fees
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-primary">Get Incorporated Now</button>
    </div>
  </div>
</div>

<div class='container'>
  <h2 class='subtitle'>
    Benefits Of Incorporating
  </h2>

  <div class='row'>
    <div class='col-12'>
      <div class='col-4'>
        <%= image_tag 'one.png', class:'image'%>
        <p class='explainer'>
          Businesses chose Delaware because it provides a superior package of incorporation
          services that are ruled by modern and flexible corporate laws.
          They also have a highly-respected court system, a business-friendly state government,
          and a customer service oriented legal ecosystem that guarantees it’s the best choice for your corporation.
        </p>
      </div>
      <div class='col-4'>
        <%= image_tag 'two.png', class:'image'%>
        <p class='explainer'>
          In case you’d need to go to court to settle a dispute,
          Delaware’s Court of Chancery uses judges instead of juries.
          This guarantees that the person making the rulings for
          your company is effective and experienced in corporate law.
        </p>
      </div>
      <div class='col-4'>
        <%= image_tag 'three.png', class:'image'%>
        <p class='explainer'>
          Privacy is a big issue when establishing corporations and Delaware laws take it under consideration.
          When incorporating in Delaware through Genesis, we do not require director or officer names to be
          listed in the formation documents. This way, Delaware provides a level of
          anonymity from corporatepeeping Toms.
        </p>
      </div>
    </div>
  </div>
</div

<div class='container-fluid'>
  <div class='container'>
    <h3 class='quote'>
      "Delaware remains the chosen home of more than half of U.S.
      publicly-traded companies and 64% of the Fortune 500."
    </h3>
    <p class='secretary'>
      Jeffrey W. Bullock, Delaware Secretary of State
    </p>
    <p class='text'>
      Starting From:
    </p>
    <h1 class='price'>
      --- $2,000.00 USD ---
    </h1>
    <h4 class='text'>
      USA Incorporation
    </h4>
    <button type="button" class="btn btn-primary">Get Incorporated Now</button>
  </div>
</div>

<%= render 'website/partials/footer_genesis' %>
