<div class='container incorporation-table'>
  <div class='row wrapper-incorporation-table'>
    <div class='col-12'>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Incorporation</th>
            <th scope="col">ID</th>
            <th scope="col">Created Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= image_tag 'folder.svg', class:'image'%>Delaware Incorporation</th>
            <td>2-002</td>
            <td>04/11/19</td>
            <td><%= image_tag 'complete.svg', class:'image'%> Complete</td>
            <td><%= image_tag 'edit.svg', class:'image'%></td>
            <td><%= image_tag 'view.svg', class:'image'%></td>
            <td><%= image_tag 'print.svg', class:'image'%></td>
          </tr>
          <tr>
            <th scope="row"><%= image_tag 'folder.svg', class:'image'%>Binational Incorporation</th>
            <td>4-001</td>
            <td>04/11/19</td>
            <td><%= image_tag 'complete.svg', class:'image'%> Complete</td>
            <td><%= image_tag 'edit.svg', class:'image'%></td>
            <td><%= image_tag 'view.svg', class:'image'%></td>
            <td><%= image_tag 'print.svg', class:'image'%></td>

          </tr>
          <tr>
            <th scope="row"><%= image_tag 'folder.svg', class:'image'%>Delaware Incorporation</th>
            <td>2-003</td>
            <td>04/11/19</td>
            <td><%= image_tag 'complete.svg', class:'image'%> Complete</td>
            <td><%= image_tag 'edit.svg', class:'image'%></td>
            <td><%= image_tag 'view.svg', class:'image'%></td>
            <td><%= image_tag 'print.svg', class:'image'%></td>
          </tr>
          <tr>
            <th scope="row"><%= image_tag 'folder.svg', class:'image'%>Mexico Incorporation</th>
            <td>3-001</td>
            <td>04/11/19</td>
            <td><%= image_tag 'incomplete.svg', class:'image'%> Incomplete</td>
            <td><%= image_tag 'edit.svg', class:'image'%></td>
            <td><%= image_tag 'view.svg', class:'image'%></td>
            <td><%= image_tag 'print.svg', class:'image'%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
